<article class="post">
  <div class="title">
    <a href="{{url}}" target="_blank">{{title}}</a><span
        class="user-info"
      >{{user.username}} on {{format_date created_at}}</span>

  </div>
  <div class="comments">
    <a href="/post/{{id}}">{{description}} </a>
  </div>
</article>